.mainContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}

.imageContainer {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 2.5rem;
}

.feedbackContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.75rem;
}

.feedbackRating {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.nameBox {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.name {
  color: var(--Gray-900, #1d2026);
  text-align: right;

  /* Body Medium/500 */
  font-family: Inter;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25rem; /* 142.857% */
  letter-spacing: -0.00875rem;
}

.dot {
  color: var(--Gray-600, #6e7485);
  text-align: right;

  /* Body Small/400 */
  font-family: Inter;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1rem; /* 133.333% */
}

.date {
  color: var(--Gray-600, #6e7485);

  /* Body Small/400 */
  font-family: Inter;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1rem; /* 133.333% */
}

.feedbackText {
  color: var(--Gray-700, #4e5566);
  width: 50.5rem;

  /* Body Medium/400 */
  font-family: Inter;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.375rem; /* 157.143% */
  letter-spacing: -0.00875rem;
}
