.mainContainer {
  display: flex;
  width: 54.5rem;
  flex-direction: column;
  gap: 1.25rem;
}

.title {
  color: var(--Gray-900, #1d2026);

  /* Heading/04 */
  font-family: Inter;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2rem; /* 133.333% */
  letter-spacing: -0.015rem;
}
