.mainText {
  color: var(--Gray-900, #1d2026);
  font-family: Inter;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 124%; /* 2.48rem */
  letter-spacing: -0.06rem;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.a {
  text-decoration: none;
}
