.buttonStyle {
  padding: 0rem 1.5rem;
  color: var(--Primary-500, #ff6636);

  /* Button/M */
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 3rem; /* 300% */
  letter-spacing: -0.008rem;
  text-transform: capitalize;
  border: none;
}

.buttonStyle:hover {
  background-color: #faded5;
  font-weight: 700;
  transition-duration: 200ms;
}
